venv/

__pycache__/

*.pyc

.env

.idea/

.vscode/

logs/

uploads/

saved_models/

.ipynb_checkpoints/
.pytest_cache/
frontend/node_modules/

# Large datasets and binaries
*.csv
*.joblib
*.png
*.pkl
*.zip
*.tar.gz

# Keep essential models and vectorizers
!**/model.joblib
!**/tfidf_vectorizer.joblib
