fastapi
uvicorn

sqlalchemy
psycopg2-binary

alembic

python-dotenv

pydantic
pydantic-settings

python-multipart
python-jose[cryptography]
bcrypt

joblib

numpy
pandas

scikit-learn

nltk
spacy

xgboost
lightgbm
catboost

matplotlib
plotly

requests

httpx

beautifulsoup4

feedparser

newspaper3k

langdetect

textstat

emoji

contractions

pyspellchecker

pytest